﻿
<ion-view view-title="Chats">
    <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#/app/chat/{{chatId}}">
                <img src="dist/img/user2-160x160.jpg" class="img-circle">
                <h2>Dayo James  <small>24th May, 2015 6:15pm</small></h2>
                <p>Good night brother. God bless you.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="dist/img/user2-160x160.jpg" class="img-circle">
                <h2>Dayo James  <small>24th May, 2015 6:15pm</small></h2>
                <p>Did you get the announcement. Let me know what you think .</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="dist/img/user5-128x128.jpg">
                <h2>Hannah   <small>24th May, 2015 6:15pm</small></h2>
                <p>Ok. See you in church tomorrow.</p>
            </a>
        </div>
    </ion-content>
</ion-view>

