﻿<ion-view view-title="Friends">
    <ion-content>
        <ion-list>
            <div class="list">
            <a class="item item-avatar" href="#">
                <img src="dist/img/user2-160x160.jpg" class="img-circle">
                <h2>Venkman</h2>
                <p>Come and join me. I'm going higher today.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="dist/img/user4-128x128.jpg" class="img-circle">
                <h2>Rachel Kent</h2>
                <p>Without faith.It's impossible to Please God.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="dist/img/user7-128x128.jpg">
                <h2>Nina Quest</h2>
                <p>My God is good. All the time.</p>
            </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>