﻿<ion-view view-title="Medias">
    <ion-content>
        <div class="list">

            <a class="item item-thumbnail-left" href="#/app/media/2">
                <img src="dist/img/license-to-ill.jpg">
                <h2>Todays Message</h2>
                <p>Battle Against the Stars</p>
                <p>Pastor Paul Adigun </p>
                <p>20th May, 2015</p>
            </a>

            <a class="item item-thumbnail-left" href="#/app/media/3">
                <img src="dist/img/license-to-ill.jpg">
                <h2> Todays Message</h2>
                <p>The Benefits of Giving.</p>
                <p>Pastor Paul Adigun </p>
                <p>26th May, 2015</p>
            </a>

            <a class="item item-thumbnail-left" href="#/app/media/4">
                <img src="dist/img/license-to-ill.jpg">
                <h2> Todays Message</h2>
                <p>When the Heavens are Open.</p>
                <p>Pastor Paul Adigun </p>
                <p>4th June, 2015</p>
            </a>
        </div>
    </ion-content>
</ion-view>


