﻿<ion-view view-title="Media">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="dist/img/user2-160x160.jpg" class="img-circle">
                <h2>Pastor Paul Adigun</h2>
                <p>May 05, 2015</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="./dist/img/license-to-ill.jpg">
                <p>
                    It is important as a child of God not to be ignorant of the tactics of the Devil. We must ensure to 
					always pray and cover ourselves with the blood of Jesus. In this message, you will learn as the holy spirit
					will teach us and guide us to wage way against the enemy. Remain blessed as you listen.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div> 
    </ion-content>
</ion-view>
