<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
   
    <ion-side-menu side="left"  >
        <ion-header-bar class="bar-stable ">
            <!--<div class="user-panel">
                <div class="pull-left image">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>

                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>-->  
  
            <!--<h1 class="title">Left</h1>-->
        </ion-header-bar>
        <ion-content>
            <ion-list >
                
                    <!--<!--<ion-item nav-clear menu-close ng-click="login()">
                        Login
                    </ion-item>-->
					<a class="item item-icon-left" href="#/app/register">
                        <i class="icon ion-person"></i>
                        Register
                        <span class="badge badge-assertive">0</span>
                    </a>

                    <a class="item item-icon-left" href="#/app/notification">
                        <i class="icon ion-android-notifications"></i>
                        Announcement
                        <span class="badge badge-assertive">0</span>
                    </a>
                    <a class="item item-icon-left" href="#/app/testimony">
                        <i class="icon ion-ios-chatboxes"></i>
                        Testimony
                        <span class="badge badge-assertive">0</span>
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-email"></i>
                        Mailbox
                        <span class="badge pull-right bg-yellow">12</span>
                    </a>

                    <a class="item item-icon-left" href="#/app/friends">
                        <i class="icon ion-person-stalker"></i>
                        Members
                        <span class="badge badge-assertive">0</span>
                    </a>
                    <a class="item item-icon-left" href="#/app/chat">
                        <i class="icon ion-ios-chatboxes"></i>
                        Chat
                        <span class="badge badge-assertive">0</span>
                    </a>
                    <!--<ion-item menu-close href="#/app/chat">
            Chat
        </ion-item>-->
                    <a class="item item-icon-left" href="#/app/media">
                        <i class="icon ion-ios-film"></i>
                        Media
                        <span class="badge badge-assertive">0</span>
                    </a>
                    <!--<ion-item nav-clear menu-close href="#/app/media">
            Media
        </ion-item>-->
                   <!--  <ion-item menu-close href="#/app/playlists">
                        Playlists
                    </ion-item> -->
            

            </ion-list>
        </ion-content>
    </ion-side-menu>
    <!--<ion-item menu-close ng-click="login()">
      Login
    </ion-item>
      <ion-item menu-close href="#/app/message">
          Messages
      </ion-item>
      <ion-item menu-close href="#/app/testimony">
          Testimony
      </ion-item>
      <ion-item menu-close href="#/app/chat">
          Chat
      </ion-item>
      <ion-item menu-close href="#/app/notification">
          Notification
      </ion-item>-->
    <!--<ion-item menu-close href="#/app/search">
      Search
    </ion-item>
    <ion-item menu-close href="#/app/browse">
      Browse
    </ion-item>-->
    <!--<ion-item menu-close href="#/app/playlists">
      Playlists
    </ion-item>-->
    </ion-list>
    </ion-content>
    </ion-side-menu>
</ion-side-menus>





