﻿<ion-view view-title="Announcement">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="playlist in playlists" href="#">
			
                
                   {{playlist.title}}
                
                         
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
