<ion-view view-title="Register">
  <ion-content>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="James">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Address</span>
    <textarea placeholder="Address"></textarea>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
     Designation 
    </div>
    <select>
	<option>Choir</option>
      <option>Member</option>
      <option selected>Minister</option>
      <option>Usher</option>
	  <option>Sunday School</option>
	  <option>Technical</option>
    </select>
  </label>
  <p> </p>
  <button class="button button-positive">
   Submit
</button>

</div>
  
</div>
  </ion-content>
</ion-view>
