/* Empty. Add your own CSS if you like */

.sidebar-menu>li>ion-item {
  padding: 12px 5px 12px 15px;
  display: block;
}
.skin-blue .sidebar-menu>li>ion-item {
  border-left: 3px solid transparent;
  margin-right: 1px;
}
.list>.main-sidebar>a 
{
    background-color:#333;
    color:#ffffff;
}